footer {
    background-color: $dark-color;
    color: white;
    text-align: center;
    padding: 1.5rem;
    margin-top: 4rem;

    p {
        margin: 0;
        font-size: 0.9rem;
        letter-spacing: 0.5px;
    }
}