$primary-color: #007BFF;
$secondary-color: #00C6FF;
$font-stack: 'Poppins', sans-serif;
$text-color: #333;
$background-color: #f9f9f9;

$color-primario: #1e88e5;
$color-secundario: #ffeb3b;
$font-base: 'Roboto', sans-serif;
$espaciado: 1rem;

